<!DOCTYPE html>
<html lang="es" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ng-class and ng-style</title>

    <style>
        .selected {
            background-color: lightgreen;
        }
    </style>
</head>
<body>

    <table ng-controller="RestauranteTableController">
        <tr ng-repeat="restaurant in directory" ng-click="selectRestaurant($index)"
            ng-class="{selected: $index === selectedRow}">
            <td>{{ restaurant.name }}</td>
            <td>{{ restaurant.cuisine }}</td>
        </tr>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>

    <script>
        (function () {
            'use strict';

            var myApp = angular.module('myApp', []);

            myApp.controller('RestauranteTableController', ['$scope', function ($scope) {
                $scope.directory = [
                    {name: 'The Handsome Heifer', cuisine: 'BBQ'},
                    {name: 'Green\'s Green Greens', cuisine: 'Salads'},
                    {name: 'House of Fine Fish', cuisine: 'Seafood'}
                ];

                $scope.selectRestaurant = function (row) {
                    $scope.selectedRow = row;
                }
            }]);
        })();
    </script>

</body>
</html>
