<!DOCTYPE html>
<html lang="es" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ng-class and ng-style</title>

    <style>
        .error {
            background-color: red;
        }

        .warning {
            background-color: yellow;
        }
    </style>
</head>
<body>

    <div ng-controller="HeaderController">
        <div ng-class="{error: isError, warning: isWarning}">{{ messageText }}</div>

        <button ng-click="showError()">Simulate Error</button>
        <button ng-click="showWarning()">Simulate Warning</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>

    <script>
        (function () {
            'use strict';

            var myApp = angular.module('myApp', []);

            myApp.controller('HeaderController', ['$scope', function ($scope) {
                $scope.isError = false;
                $scope.isWarning = false;

                $scope.showError = function () {
                    $scope.messageText = 'This is an error';
                    $scope.isError = true;
                    $scope.isWarning = false;
                };

                $scope.showWarning = function () {
                    $scope.messageText = 'Just a warning. Please carry on';
                    $scope.isError = false;
                    $scope.isWarning = true;
                };
            }]);
        })();
    </script>

</body>
</html>
