<!DOCTYPE html>
<html lang="es" ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>Input Elements</title>
</head>
<body>

    <div ng-controller="SomeController">
        <form action="#">
            <input type="checkbox" ng-model="youCheckedIt"> Checkbox
        </form>
    </div>

    <div ng-controller="StartUpController">
        <form>
            Starting: <input ng-model="funding.startingEstimate">
            Recommendation: {{ funding.needed }}
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>

    <script>
        (function () {
            'use strict';

            var myApp = angular.module('myApp', []);

            myApp.controller('SomeController', ['$scope', function ($scope) {
                $scope.youCheckedIt = true;
            }]);

            myApp.controller('StartUpController', ['$scope', function ($scope) {
                $scope.funding = {
                    startingEstimate: 0
                };

                var computeNeeded = function () {
                    $scope.funding.needed = $scope.funding.startingEstimate * 10;
                };

                $scope.$watch('funding.startingEstimate', computeNeeded)
            }]);
        })();
    </script>
</body>
</html>
