<!DOCTYPE html>
<html lang="es" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Lists</title>

</head>
<body>

    <div ng-controller="ListController">
        <ul>
            <li ng-repeat="student in students">
                <a href="/student/view/{{ student.id }}">{{ student.name }}</a>
            </li>
        </ul>

        <button ng-click="insertTom()">Insert</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>

    <script>
        (function () {
            'use strict';

            var myApp = angular.module('myApp', []);
            var students = [
                {name: 'Yoel Monzon', id: '1'},
                {name: 'Yulien Hernandez', id: '2'},
                {name: 'Jill Hill', id: '3'}
            ];

            myApp.controller('ListController', ['$scope', function ($scope) {
                $scope.students = students;

                $scope.insertTom = function () {
                    $scope.students.splice(1, 0, {name: 'Tom Thum', id: '4'});
                }
            }]);
        })();
    </script>
</body>
</html>
