<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Validating User Input</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
</head>
<body>
    <h1>Sign Up</h1>
    <form name='addUserForm'>
        <div>First name: <input ng-model='user.first' required></div>
        <div>Last name: <input ng-model='user.last' required></div>
        <div>Email: <input type='email' ng-model='user.email' required></div>
        <div>Age: <input type='number'
        ng-model='user.age'
        ng-maxlength='3'
        ng-minlength='1'></div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>
</html>
